# https://git.gametaptap.com/help/user/project/code_owners.md

* @huangshuzhi @panyang

# CN
/cn/ @zhaoyang1 @chenke @lichao @zhouxianli @wanghao @yuwenjian @suixiaoxu

# HK
/hk/ @zhaoyang1 @chenke @lichao @zhouxianli @wanghao @yuwenjian @suixiaoxu
